<body>
<app-mobile></app-mobile> 
 <app-menu-plegable></app-menu-plegable>
 <!-- End #mobile-menu-toggle -->
<app-encabezado></app-encabezado>
<!-- End #lead -->
<app-about></app-about>
  <!-- End #about -->
  <app-experience></app-experience>
  <!-- End #experience -->
  <app-education></app-education>
  <!-- End #education -->
  <app-projects></app-projects>
  <!-- End #projects -->
 <app-skills></app-skills>
  <!-- End #skills -->
  <app-contact></app-contact>
  <!-- End #contact -->
<app-conteiner></app-conteiner>
</body>